.footer {
  background-color: #f8f8f8;
  padding-bottom: 100px;
  padding-top: 180px;
  &-wrapper {
    display: flex;
    justify-content: start;
    gap: 0 230px;
  }
  &-image {
    margin-bottom: 20px;
  }
  &-text {
    max-width: 340px;
    margin-bottom: 30px;
  }
  &-social {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  &-publisher {
    color: #afb5c0;
  }
  &-describe {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 0 126px;
  }
  &-product {
    min-width: 125px;
    li {
      list-style: none;
      margin-bottom: 10px;
    }
    &-heading {
      margin-bottom: 20px;
      font-weight: 500;
      font-size: 18px;
      line-height: calc(30 / 18);
    }
  }
}
